<div class="content-wrapper">
    <div class="tabs-demo">
            <div class="">
                <app-workpath-tabs>
                    <app-workpath-tab [title]="'Robots'">
                        <app-workpath-robots-tab></app-workpath-robots-tab>                        
                    </app-workpath-tab>
                    <app-workpath-tab [title]="'Environments'">
                        Environments                        
                    </app-workpath-tab>                
                </app-workpath-tabs>
           </div>
    </div>
</div>